<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mindfulai.ministore">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name="com.mindfulai.Utils.SPData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.mindfulai.Activites.ReturnOrderHistoryActivity" android:screenOrientation="portrait" />
        <activity android:name="com.mindfulai.Activites.AddressSelectorActivity" android:screenOrientation="portrait" />
        <activity android:name="com.mindfulai.Activites.MapActivity" android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC5oAfl7J7rANPcWxve5MvvbKgJ3q5vRGQ"/>
<!--            android:value="AIzaSyBKZejrZNZpLlemrH28Nc46XzHsRSVRxKI" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.mindfulai.Activites.WalletActivity" android:screenOrientation="portrait"  />
        <activity
            android:name="com.mindfulai.Activites.CommonActivity" android:screenOrientation="portrait"
            android:theme="@style/CommonActivityTheme" />
        <activity
            android:name="com.mindfulai.Activites.AddAddressActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.mindfulai.Activites.SeeAllCategoryActivity" android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.SearchPrdouctActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mindfulai.Activites.ShowVendorByCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mindfulai.Activites.PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.StaffLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.CustomerAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mindfulai.Activites.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
         <service android:name="com.mindfulai.Utils.FCMService"
             android:exported="false">
         <intent-filter>
         <action android:name="com.google.firebase.MESSAGING_EVENT" />
         </intent-filter>
         </service>
        <activity
            android:name="com.mindfulai.Activites.OrderSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mindfulai.Activites.OrderHistoryDetailsActivity"
            android:label="Order history details"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_rW66KFNe5GYBlH" />

        <activity
            android:name="com.mindfulai.Activites.ProductDetailsActivity"
            android:label="Product Details"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mindful.ai.in"
                    android:pathPrefix="/product/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.mindfulai.Activites.OrderPlacedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.mindfulai.Activites.AllProductsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mindfulai.Activites.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="grannymindful.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mindfulai.Activites.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mindfulai.Activites.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>